{% extends 'base.html' %}

{% block title %}
	Inicio - Bienvenidos
{% endblock %}


{% block content %}
	<h1>Bienvenidos</h1>

	<h2>SkinCare</h2>



	<p>
	<center><img scr="/media/images/cosmeticos.jpeg" WIDTH=700 HEIGHT=300 BORDER=2 VSPACE=3 HSPACE=3></center>


	<h2>Nuestra Mision</h2>
	<h3>Nuestra mision es proporcionar una optima calidad certificada de formulas organicos para nutrir, rejuvenecer, embellecer y transformar la piel.</h3>

	<h2>Nuestros Valores</h2>
	<h3>Rejuvenecimiento Vital</h3>
	<h3>Rica en nutrientes, las fórmulas de purificación dan a su piel un hermoso brillo saludable</h3>
	<h3>Calidad Incomparable</h3>
	<h3>No hay productos químicos tóxicos (que se encuentran comúnmente en la mayoría de los productos de cuidado de la piel), tales como sulfatos, parabenos, fragancias sintéticas, colorantes sintéticos, TEA, DEA, glicoles, siliconas, CLAVIJAS, Ethoxylate o formaldehído o derivados de formaldehído</h3>
	<h3>No hay productos de origen animal o subproductos animales
Vegano, libre de crueldad, no probado en animales</h3>
{% endblock %}